#landing {
     background: linear-gradient( rgba(47, 252, 224, 0.5), rgba(255, 255, 255, 1)), url('img/balloon-2.jpg') no-repeat center fixed;
     background-size: cover;
     text-align: center;
}

h1,h2 {
    color:navy;
    font-family:arial;
    font-size: 36px;
}

.travel-info {
   font-family:arial; 
}

.navbar {
    postion: fixed;
}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;

  }
  
  .quote-container{
      background:lightblue;
  }